<div ng-app="scoresApp">
    <div ng-controller="ScoresController as scores" ng-init="scores.getScores()">
      {{scores.jsonScores}}





    <main>
      <!-- begin show all todos -->
      <section class="score-list">
        <ul>
          <li ng-repeat="score in scores.jsonScores">
          <input type="text" ng-model="score.user" ng-change="score.updateScore(score)" value="{{scores.user}}">-->
              {{ score.level3}}
              {{ score.name }}
          </li>
        </ul>
      </section>
      <!-- end show all todos -->
    </main>

  </div>

  </div>
</div>