
<div class="embed-responsive embed-responsive-16by9" "landing_video"><%= embed("https://www.youtube.com/watch?v=ewbB4Nwv6kY") %>

</div>


<script type="text/javascript">

setTimeout(function(){ window.location = "http://localhost:3000/games/level_one_video"; }, 51000);




</script>