
<div class="embed-responsive embed-responsive-16by9"><%= embed("http://www.youtube.com/watch?v=mzMyeJG8XFE") %>

</div>


<script type="text/javascript">

setTimeout(function(){ window.location = "http://localhost:3000/games/level_one"; }, 31000);




</script>
