


<div class="embed-responsive embed-responsive-16by9"><%= embed("http://www.youtube.com/watch?v=fiQ24qgF9jI") %>

</div>


<script type="text/javascript">

setTimeout(function(){ window.location = "http://localhost:3000/games/level_two"; }, 24000);




</script>
