


<div class="embed-responsive embed-responsive-16by9"><%= embed("http://www.youtube.com/watch?v=VRkvE3IakTw") %>

</div>


<script type="text/javascript">

setTimeout(function(){ window.location = "http://localhost:3000/games/home"; }, 65000);




</script>
