/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body > canvas{
 width: 75%;
 margin-left: 15.7%;
 background-position: 0 0;
 margin-top: -1%;

 }
body {
  background: #E0E0E0; 
  /*background-image: url("/images.REEF.jpg") no-repeat;*/
}


 .embed-container {
  z-index: 999;
  position: absolute;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 100%;
  overflow: hidden;
  width: auto;
  
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
	z-index: 999;
  
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.landing_video{
  z-index: 999;
  position: absolute;

}



